@model IEnumerable<SaI.Models.Category>

@{
    ViewBag.Title = "Index";
}
<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">List of Category</h3>
            <div class="box-tools">
                <button type="submit" class="btn btn-primary pull-right" onclick="location.href='@Url.Action("Add")'">Add Category</button>&nbsp;
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover dataTable" role="grid" id="example1" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th>No.</th>
                                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int number = 1;
                                        foreach (var item in Model) {
                                            <tr>
                                                <td>@number</td>
                                                <td class="sorting_1">
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary glyphicon glyphicon-pencil" onclick="location.href='@Url.Action("Edit", "Category", new { id = @item.ID})'"> Edit</button>&nbsp;
                                                    <button class="btn btn-danger glyphicon glyphicon-trash" onclick="location.href='@Url.Action("Delete", "Category", new { id = @item.ID})'"> Delete</button>
                                                </td>
                                            </tr>
                                            number++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>
























