@model SaI.Models.Item

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<form action="/items/AddItem" method="post">
    <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Item Master</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label>Long Description</label>
                    @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Short Description</label>
                    @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Department Name</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Department 0</option>
                        <option>Department 1</option>
                        <option>Department 2</option>
                        <option>Department 3</option>
                        <option>Department 4</option>
                        <option>Department 5</option>
                        <option>Department 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Category Name</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Category 0</option>
                        <option>Category 1</option>
                        <option>Category 2</option>
                        <option>Category 3</option>
                        <option>Category 4</option>
                        <option>Category 5</option>
                        <option>Category 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Sub-Category Name</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Sub-Category 0</option>
                        <option>Sub-Category 1</option>
                        <option>Sub-Category 2</option>
                        <option>Sub-Category 3</option>
                        <option>Sub-Category 4</option>
                        <option>Sub-Category 5</option>
                        <option>Sub-Category 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Supplier Name</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Supplier 0</option>
                        <option>Supplier 1</option>
                        <option>Supplier 2</option>
                        <option>Supplier 3</option>
                        <option>Supplier 4</option>
                        <option>Supplier 5</option>
                        <option>Supplier 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Large Packing</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Packing 0</option>
                        <option>Packing 1</option>
                        <option>Packing 2</option>
                        <option>Packing 3</option>
                        <option>Packing 4</option>
                        <option>Packing 5</option>
                        <option>Packing 6</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        @*<input type="checkbox" />Vatable*@
                        @Html.CheckBoxFor(model => model.IsVatable) Vatable
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @*<input type="checkbox" />Open Price*@
                        @Html.CheckBoxFor(model => model.IsOpenPrice) Open Price
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @*<input type="checkbox" />Open Department*@
                        @Html.CheckBoxFor(model => model.IsInOpenDepartment) Open Department
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @*<input type="checkbox" />With Serial*@
                        @Html.CheckBoxFor(model => model.WithSerial) With Serial
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @*<input type="checkbox" />With Expiry*@
                        @Html.CheckBoxFor(model => model.WithExpiry) With Expiry
                    </label>
                </div>
                <!-- /.form-group -->
                <div class="box-footer">
                    @*Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                        the plugin.*@
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                    <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Items")'">Cancel</button>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</form>
}