@model SaI.ViewModel.ItemViewModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<form action="/items/EditItem" method="post">
    <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Item Master</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                @Html.HiddenFor(model => model.Item.ID)
                <div class="form-group">
                    <label>Long Description</label>
                    @Html.EditorFor(model => model.Item.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item.LongDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Short Description</label>
                    @Html.EditorFor(model => model.Item.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item.ShortDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Department Name</label>
                    @Html.DropDownListFor(model => model.Item.DepartmentID, new SelectList(Model.DepartmentList, "ID", "Description", Model.Item.DepartmentID), new { @class = "form-control select2" })
                </div>
                <div class="form-group">
                    <label>Category Name</label>
                    @Html.DropDownListFor(model => model.Item.CategoryID, new SelectList(Model.CategoryList, "ID", "Description", Model.Item.CategoryID), new { @class = "form-control select2" })
                </div>
                <div class="form-group">
                    <label>Sub-Category Name</label>
                    @Html.DropDownListFor(model => model.Item.SubCategoryID, new SelectList(Model.SubCategoryList, "ID", "Description", Model.Item.SubCategoryID), new { @class = "form-control select2" })
                </div>
                <div class="form-group">
                    <label>Supplier Name</label>
                    @Html.DropDownListFor(model => model.Item.SupplierID, new SelectList(Model.SupplierList, "ID", "Description", Model.Item.SupplierID), new { @class = "form-control select2" })
                </div>
                <div class="form-group">
                    <label>Large Packing</label>
                    @Html.DropDownListFor(model => model.Item.LargePacking, new SelectList(Model.UnitList, "Description", "Description", Model.Item.LargePacking), new { @class = "form-control select2" })
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.Item.IsVatable) Vatable
                    </label>&nbsp;&nbsp;
                    <label>
                        @Html.CheckBoxFor(model => model.Item.IsOpenPrice) Open Price
                    </label>&nbsp;&nbsp;
                    <label>
                        @Html.CheckBoxFor(model => model.Item.IsInOpenDepartment) Open Department
                    </label>&nbsp;&nbsp;
                    <label>
                        @Html.CheckBoxFor(model => model.Item.WithSerial) With Serial
                    </label>&nbsp;&nbsp;
                    <label>
                        @Html.CheckBoxFor(model => model.Item.WithExpiry) With Expiry
                    </label>
                </div>
                <!-- /.form-group -->
                <div class="box-footer">
                    @*Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                        the plugin.*@
                    <button type="submit" class="btn btn-primary">Update</button>&nbsp;
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Items")'">Cancel</button>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Item Details</h3>
                <div class="box-tools">
                    @*@{
                            var disabled = ViewData["success_message"] == null ? "btn-block btn-default disabled" : "btn-primary";
                        }*@
                    <a class="btn btn-primary pull-right" href="/Items/AddDetail/@Model.Item.ID"> Add Detail </a><br /> <br /> &nbsp;
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped dataTable" role="grid" id="example1" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th>Stock No.</th>
                                            <th>Stock</th>
                                            <th>Unit ID</th>
                                            <th>Packing</th>
                                            <th>Ratio</th>
                                            <th>Maximum Inventory</th>
                                            <th>Minimum Inventory</th>
                                            <th>Beginning Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.ItemDetailList != null) {
                                                foreach (var itemDetail in Model.ItemDetailList) {
                                                    <tr>
                                                        <td>@itemDetail.ItemDetailStockNo</td>
                                                        <td>@itemDetail.Stock</td>
                                                        <td>@itemDetail.UnitID</td>
                                                        <td>@itemDetail.Packing</td>
                                                        <td>@itemDetail.Ratio</td>
                                                        <td>@itemDetail.MaxInventory</td>
                                                        <td>@itemDetail.MinInventory</td>
                                                        <td>@itemDetail.BeginningQuantiy</td>
                                                        <td>
                                                            @*<input type="button" class="btn btn-warning glyphicon glyphicon-pencil" onclick="location.href='@Url.Action("EditDetail", "Items", new { itemID = Model.Item.ID, detailID = itemDetail.ID })'" value="Edit"/>*@
                                                            <button type="button" class="btn btn-warning glyphicon glyphicon-pencil" onclick="location.href='@Url.Action("EditDetail", "Items", new { itemID = Model.Item.ID, detailID = itemDetail.ID })'"> Edit</button>&nbsp;
                                                            @*<input type="button" class="btn btn-danger glyphicon glyphicon-trash" onclick="location.href='@Url.Action("DeleteDetail", "Items", new { ID = itemDetail.ID })'" value="Delete" />*@
                                                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" onclick="location.href='@Url.Action("DeleteDetail", "Items", new { itemID = Model.Item.ID, detailID = itemDetail.ID })'"> Delete</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </section>
</form>
}