@model SaI.Models.Purpose

<form action="/Purpose/Delete" method="post">
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Remove Purpose</h3>
            </div>
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    <h3>Are you sure you want to remove this purpose?</h3>
                </div>
                <div class="form-group">
                   <label>@Html.DisplayNameFor(model => model.Description) :</label> @Html.DisplayFor(model => model.Description)
                </div>
                
                    @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        <div class="box-footer">
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="launch_toast()" />&nbsp;
                            <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index")'" class="btn btn-default" />
                        </div>
                    }
            </div>
        </div>
    </section>
</form>
